<h1>${title}</h1>

<section>

    <div class="container">
        <form action="/date/add" method="POST">
            <input type="hidden" name="user_id" value="${user_id}">
            <label>When will the event be?</label>>
            <input type="date" name="day">
            <label>Where will it be held?</label>
            <input type="text" name="location">
            <div class="row col-4 mx-auto">
                <select class="form-select form-select-sm" aria-label=".form-select-sm">
                    <option selected>What will you be doing?</option>
                    <option value="camping">Camping</option>
                    <option value="hiking">Hiking</option>
                    <option value="swimming">Swimming</option>
                    <option value="surfing">Surfing</option>
                    <option value="sightseeing">Sightseeing</option>
                </select>
            </div>
            <label>Other details</label>
            <textarea name="detail"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>