<div id="bigContainer">
    <br> ${!!is_logged_in ? `
    <h1>Welcome to SITE! Where would you like to go?</h1>

    <a href="/itinerary-form">Start Planning Your Trip Here!</a> ` : `
    <div id="homeHeading">
        <center>
            <h1>Welcome! Please sign in to begin planning your adventure!</h1>
        </center>
    </div>
    <form action="/users/login" method="POST">
        <div class="container-sm" style="max-width: 450px; max-height: 350px;">
            <div class="card text-center" style="background-color: rgba(255, 255, 255, 0.493);">
                <div class="card-header" style="color: black;">
                    Log In
                </div>
                <div class="card-body">
                    <div class="container py-5">
                        <center>
                            <div class="row">
                                <div class=" mx-auto">
                                    <label for="exampleFormControlInput1" class="form-label" style="color: black; max-width: 350px;">Email address</label>
                                    <input type="email" name="email" class="form-control" placeholder="name@example.com" style="max-width: 350px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="mx-auto">
                                    <label for="exampleFormControlInput1" class="form-label" style="color: black; max-width: 350px;">Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password" style="max-width: 350px;">
                                </div>
                            </div>
                            <div class=" row p-2 ">
                                <div class="mx-auto ">
                                    <button class="button is-primary " type="submit " id="signInButton">Sign-In</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="card-footer " style="color: black; ">
                    Plan like no other!
                </div>
            </div>
        </div>
    </form>`}