${!!is_logged_in ? `
<center>
    <h1>Check Out Your Travel Plans!</h1>
</center>
${data.map(itinerary => `
<center>
    <div class="tripContent">
        <div id="columns1">
            <figure id="iCards">
                <div id="itinerary1" width="200px" height="200px" style="border-radius: 50%;">
                    <li class="co"><strong>${itinerary.title}</strong></li>
                    <li class="co">${itinerary.day}</li>
                    <li class="co">${itinerary.location}</li>
                    <li class="co">Details: ${itinerary.event}</li>
                </div>
            </figure>
        </div>
    </div>
</center>`).join('')}
` : `
<h1>Please log in to view your itinerary<h1>
`}