<h1>${title}</h1>

<form action="/add" method="POST">


</form>

<form action="/add" method="POST">
    <div class="container-sm" style="max-width: 450px; max-height: 350px;">
        <div class="card text-center" style="background-color: rgba(255, 255, 255, 0.493);">
            <div class="card-header" style="color: black;">
                Title of Trip
            </div>
            <div class="card-body">
                <div class="container py-5">
                    <center>
                        <div class="row">
                            <div class=" mx-auto">
                                <label for="exampleFormControlInput1" class="form-label" style="color: black; max-width: 350px;">Title for your Itinerary</label>
                                <input type="email" name="title" class="form-control" placeholder="name@example.com" style="max-width: 350px; margin-bottom: 10px;">
                                <input type="hidden" value='${user_id}' , name="user_id">
                                <button class="button is-primary " type="submit " id="signInButton">Create Itinerary</button>
                            </div>
                        </div>

                    </center>
                </div>
            </div>
            <div class="card-footer " style="color: black; ">
                Plan like no other!
            </div>
        </div>
    </div>
</form>