<h1>${title}</h1>

<section>
    <div>
        <form action="/date/add" method="POST">
            <input type="hidden" name="user_id" value="${user_id}">
            <label>When will the event be?</label>>
            <input type="date" name="day">
            <label>Where will it be held?</label>
            <input type="text" name="location">
            <label>What will you be doing?</label>
            <input type="text" name="event">
            <label>Other details</label>
            <textarea name="detail"></textarea>
            <button type="submit"></button>
        </form>
    </div>
</section>