<h1>${title}</h1>

<section>
    <div>
        <form>
            <label>Location</label>
            <input type="text" placeholder="Location Name" name="location_name">
            <br>
            <label>Location Description(Optional)</label>
            <textarea placeholder="Location Description" name="location_description"></textarea>
            <br>
            <label>Location Image URL(Optional)</label>
            <input type="text" placeholder="Image URL" name="location_img">
            <br>
            <label>Activity</label>
            <input type="radio" id="hiking" name="activity_name">
            <label for="hiking">Hiking</label>
            <input type="radio" id="swimming" name="activity_name">
            <label for="swimming">Swimming</label>
            <input type="radio" id="surfing" name="activity_name">
            <label for="surfing">Surfing</label>
        </form>
    </div>
</section>