<h1>Adventure Tracker | Sign-Up</h1>

<form action="/users/signup " method="POST">
    <div class="feild">
        <div class="control">
            <label class="label">
                First Name
                <input class="input" type="first_name" name="first_name" placeholder="Enter First Name" />
            </label>
        </div>
        <div class="control">
            <label>
                Last Name
                <input class="input" type="last_name" name="last_name" placeholder="Enter Last Name" />
            </label>
        </div>
        <div class="control">
            <label class="label">
                Email
                <input class="input" type="email" name="email" placeholder="Enter Email" />
            </label>
        </div>
        <div class="control">
            <label class="label">
                Password
                <input class="input" type="password" name="password" placeholder="Enter Password" />
            </label>
        </div>
    </div>
    <button class="button is-primary" type="submit">Register</button>
</form>