<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${title}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
              Home
          </a>

                <a class="navbar-item" href="/">
            About Us
          </a>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    ${!!is_logged_in ? `
                    <a class="button is-primary" href="/users/logout">Logout</a>` : `
                    <a class="button is-primary" href="/users/signup ">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/users/login ">
                Log in
              </a>`}
                </div>
            </div>
        </div>
        </div>
    </nav> -->

    <!-- Navbar controls -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Adventure Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Link</a>
                    </li>
                </ul>
                <li class="nav-item">
                    <div class="buttons">
                        ${!!is_logged_in ? `
                        <a class="button is-primary" href="/users/logout">Logout</a>` : `
                        <a class="button is-primary" href="/users/signup ">
                            <strong>Sign up</strong>
                        </a>
                        <!-- <a class="button is-light" href="/users/login ">
                    Log in
                  </a> -->
                        `}
                    </div>
                </li>
            </div>
        </div>
    </nav>


    ${body}

</body>

</html>