body {
    background-image: url("/images/background.jpeg");
    background-repeat: no-repeat;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}

li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

#homeHeading {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

label {
    color: white;
}

.bigContainer {
    background: rgba(0, 0, 0, 0.308);
}