body {
    background-image: url("/images/background.jpeg");
    background-repeat: no-repeat;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}

p {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}

li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

#homeHeading {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

#welcomeContent {
    background-color: rgba(0, 0, 0, 0.548);
    width: 75%;
    margin: auto;
}

label {
    color: white;
}

.bigContainer {
    background: rgba(0, 0, 0, 0.308);
}

.card {
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 8px;
}

#signInButton {
    display: flex;
    width: 50%;
    border: none;
    background-color: lightskyblue;
    color: black;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#submitButton {
    display: flex;
    max-width: 400px;
    border: none;
    background-color: lightskyblue;
    color: black;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

#columns1 {
    width: 90%;
    max-width: 600px;
    margin: auto;
    justify-content: center;
    border-radius: 5px;
}

div#columns1 figure {
    background: rgba(255, 255, 255, 0.774);
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    column-break-inside: avoid;
    display: inline-block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.tripContent {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.co {
    padding: 0;
}

#buttonContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

#addTripButton {
    display: flex;
    width: 100%;
    border: none;
    background-color: lightskyblue;
    color: black;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-style: none;
}

#welcomeContent {
    border-radius: 8px;
}

#removeEntryButton {
    background-color: rgb(230, 25, 25);
    color: white;
    border: none;
    border-radius: 3px;
}